#service {
    width: 90%; margin: 0 auto; background: #f2efeb; padding: 150px 0;

    .inner {
        width: 1180px; margin: 0 auto;
    
        h1 { 
            font: 500 34px/1 'Barlow', sans-serif; color: #555; text-align: left; margin-bottom: 50px; padding-bottom: 5px; position: relative;
            &::before {content:''; display: block; width: 200px; height: 2.5px; position: absolute; left: 0px; bottom:0px; background: #aaa; transition: all 0.5s;} 
        }

        .wrap {
            width: 100%; 

            &::after {content:''; display: block; clear: both;}
            article { 
                float: left; box-sizing: border-box; border: 1px solid #555; position: relative; transition: all .5s;
            
                >button {
                    position: absolute; width: 30px; bottom:40px; left: 21px; background: transparent; border:0; border-top: 1px solid #555; 
                    &::before{ content:''; position: absolute; width: 10px; top: -1px; right: 0px; border-top: 1px solid #555; transform: rotate(45deg); transform-origin: right;}
                }
                
                &:hover>button{transform: translateX(30px);transition: all .35s;}
            }

            article:nth-child(1) {
                width: 280px; margin-right: 20px; height: 410px; padding: 20px; border-top: 1.5px solid #555;
            
                &::after {content:''; display: block; clear: both;}
                h2 {font: 600 15px/1 'Barlow', sans-serif; color:#555; margin: 10px 0;  width: 140px;}
                p span {font: 12px/1.4  'Roboto', sans-serif; color:#555; display: block; float: left; width: 100px;}
                i {font-size: 50px; color: #aaa; float: right; position: absolute; right: 30px; top: 30px;}
                ul {
                    float: left; margin-top: 50px;
                    li {
                        padding: 20px 0; border-bottom: 1px dotted #555;
                        a {font: 500 14px/1 'Barlow', sans-serif; color:#555; }
                    }
                    li:nth-last-of-type(1){border-bottom: none;}
                }
            }

            article:nth-child(2) {
                width: 880px; height: 165px; margin-bottom: 20px; border: none; border-top: 1.5px solid #555;
                
                ul {
                    &::after {content:''; display: block; clear: both;}
                    li {
                        float: left; width: 20%; height: 165px; box-sizing: border-box;
                        >a {
                            width: 100%;  height: 100%;  padding: 20px; box-sizing: border-box; display: block; text-align: center; border: 1px solid #555; border-left: 0; border-top: none;
                            >i {font-size: 50px; color: #aaa; margin-bottom: 20px; margin-top: 15px;}
                            >p>span {display: block; font: 500 14px 'Barlow', sans-serif; color: #555; margin-top: 10px;}
                        }
                        
                    }
                    li:nth-of-type(1)>a {border-left:1px solid #555;}
                }
            
            }

            article:nth-child(3){
                width: 280px; margin-right: 20px; height: 225px; padding: 30px 20px; position: relative;

                h2{font: 500 15px/1 'Barlow', sans-serif; color:#555; margin-bottom: 20px;}
                >p>span {display: block; width: 120px; font: 13px/1.4  'Roboto', sans-serif; color: #555;}
                i {font-size: 50px; color: #aaa; position: absolute; bottom: 30px;right: 20px;}
            }

            article:nth-child(4){
                width: 280px; margin-right: 20px; height: 225px; padding: 30px 20px; position: relative;
                h2{font: 500 15px/1 'Barlow', sans-serif; color:#555; margin-bottom: 20px;}
                >p>span {display: block; width: 120px; font: 13px/1.4  'Roboto', sans-serif; color: #555;}
                i {font-size: 50px; color: #aaa; position: absolute; bottom: 30px;right: 20px;}
            }

            article:nth-child(5){
                margin-right: 0; width: 280px; height: 225px; padding: 30px 20px; position: relative;
                h2{font: 500 15px/1 'Barlow', sans-serif; color:#555; margin-bottom: 20px;}
                >p>span {display: block; width: 120px; font: 13px/1.4  'Roboto', sans-serif; color: #555;}
                i {font-size: 50px; color: #aaa; position: absolute; bottom: 30px;right: 20px;}
            }
        }
    }
}



/* tablet */
@media screen and (max-width:$tablet){
    #service {
        width: 100%; padding: 100px 0;
        .inner {
            width: 90%;  
        
            h1 { 
                font-size: 28px; 
                &::before {width: 180px;} 
            }

            .wrap {
                article:nth-child(1) {
                    width: 100%; margin-right: 0px; height: 145px; padding: 20px; margin-bottom: 20px;
                
                    h2 {display: inline-block;}
                    p span { width: 200px;}
                    i {font-size: 50px;  float: right; position: absolute; right: 30px; top: 20px;}
                    ul {
                        float: left; margin-top: 20px; width: 100%; border-top:1px dotted #a5b2ce;
                        li {
                            padding: 15px 0; border-bottom: none; float: left;width: 25%; box-sizing: border-box; text-align: center;
                            a {display: inline-block; font-size: 13px;}
                        }
                    }
                }

                article:nth-child(2) {width: 100%;}

                article:nth-child(3) {
                    width: 32%; margin-right: 2%; height: 200px; 
                }

                article:nth-child(4) {
                    width: 32%; margin-right: 2%; height: 200px; 
                }

                article:nth-child(5) {
                    width: 32%; margin-right: 0; height: 200px; 
                }
            }
        }
    }
}


/* mobile */
@media screen and (max-width:$mobile){
    #service {
        padding: 80px 0;
        
        .inner {
            h1 {
                font-size: 24px;
                &::before {width: 160px;} 
            }

            .wrap {
                article:nth-child(1) {
                    height: 178px;
                    i {font-size: 50px; color: #ccc; float: right; position: absolute; right: 20px; top: 20px;}
                    ul { 
                        margin-top: 20px; border-top:none;padding-top: 10px;
                        li {
                            padding: 10px 0px; border-bottom: none; width: 49%; text-align: left;
                            a {display: block;}
                        }
                        li:nth-child(1){border-bottom: 1px dotted #999;}
                        li:nth-child(2){border-bottom: 1px dotted #999;}
                    }
                }

                article:nth-child(2) {
                    width:100%; height: 100%; border: none; border-top: 1.5px solid #555;
                    ul {
                        li {
                            border-right: none; height: 135px;
                            >a {
                                > i {font-size:40px; margin-bottom:10px; margin-top: 12px;}
                            }
                        }
                        li:nth-of-type(1){
                            width: 33.33333%;
                        }
                        li:nth-of-type(2){
                            width: 33.33333%;
                        }
                        li:nth-of-type(3){
                            width: 33.33333%;
                        }

                        li:nth-of-type(4) {
                            width: 50%;
                            >a {border-left:1px solid #555; border-top: none;}
                        }
                        li:nth-of-type(5) {
                            width: 50%;
                            >a {border-top: none;}
                        }
                    }
                }

                article:nth-child(3) {width: 100%; margin-bottom: 20px; height: 130px; }
                article:nth-child(4) {width: 100%; margin-bottom: 20px; height: 130px; }
                article:nth-child(5) {width: 100%; margin-bottom: 20px; height: 130px; }

                .square {>button {display: none;}}
            }
        }
    }
}