#more {
    width: 100%; padding: 150px 0; position: relative;

    .inner {
        width: 1180px; margin: 0 auto; position: relative;

        &::before {content:'MoMA'; display: block; font: bolder 120px/1 'arial', sans-serif; color: #000; position: absolute; left: 0; right: 0; transform: translate(-800px,1000px) rotate(90deg); }
        &::after {content:''; display: block; width: 1px; height: 1657px; background: #ccc; position: absolute; top: -300px; right: -40px;}
        h1 {
            font: 500 34px/1 'Barlow', sans-serif; color: #333; text-align: left; margin-bottom: 100px; position: relative; padding-bottom: 5px;
            &::before {content:''; display: block; width: 480px; height: 2.5px; position: absolute; left: 0px; bottom:0px; background: #ccc; transition: all 0.5s;} 
        }
        .wrap {
            width: 100%;

            &::before {content:''; display: block; width: 150%; height: 90%; position: absolute; right: 0; top: 0; background:#9fadb6; z-index: -1; transform: translate(20px, 100px);}
            &::after {content:''; display: block; clear: both;}

            article {
                float: left; width: 280px; margin-right: 20px; box-sizing: border-box; 
                /* position: relative; padding-top: 20px; */

                span {font: 12px/1 'Roboto', sans-serif;margin-bottom: 10px; color: #2d4553;}
                h2 {font: 500 15px/1.4 'Barlow', sans-serif; margin-bottom: 15px; color: #2d4553;}
                .pic {
                    height: 180px; background: #666; margin-bottom: 10px;  overflow: hidden;
                    > a {
                        display: block; width: 100%; height: 100%; transition: all 0.5s;
                    &:hover {transform: scale(1.2);}
                    }
                }
                .txt {height: 80px; padding: 10px; box-sizing: border-box; margin-bottom: 20px; font: 13px/1.4 'Roboto', sans-serif; color: #444;}
                >a {display: block; color: #fff; width: 60px; height: 25px; background:#4d5b64; text-align: center; font: 13px/25px 'Roboto', sans-serif;}

                }
                
            article:nth-of-type(1) .pic > a {background: url('../img/more1.jpg') center top; background-size: cover;}
            article:nth-of-type(2) .pic > a{background: url('../img/more2.jpg') center; background-size: cover;}
            article:nth-of-type(3) .pic > a{background: url('../img/more3.jpg') center center; background-size: cover;}
            article:nth-of-type(4) {
                margin-right: 0;
                .pic > a{background: url('../img/more4.jpg') center top; background-size: cover;}
            }

        }
    }
}



/* tablet */
@media screen and (max-width:$tablet){
    #more {
        padding: 100px 0; position: relative;
    
        .inner {
            width: 90%;
        
            &::before {content:'MoMA'; display: block; font: bolder 120px/1 'arial', sans-serif; color: #000;  position: absolute; left: 0; right: 0; transform: translate(-800px,1000px) rotate(90deg); }
            &::after {height: 1893px; top: -250px; right: -30px;}
            h1 {
                font-size: 28px;
                &::before {width: 400px;} 
            }

            .wrap {
                article {
                    width: 49%; margin-right: 2%; margin-bottom: 40px;
                    .txt {height: 65px; }
                }
                article:nth-of-type(2n) {margin-right: 0;}
            }
        }
    }
}


/* mobile */
@media screen and (max-width:$mobile){
    #more {
        padding: 80px 0; overflow: hidden;
    
        .inner {
            &::after {display: none;}
            h1 {
                font-size: 24px;
                &::before {width:350px;} 
            }


            .wrap {
                &::before {height: 100%; transform: translate(5%, 100px); box-sizing: border-box;}
                article {
                    width: 100%; margin-right: 0%;
                    .pic {height: 210px;}
                }
            }
        }
    }
}