$imgs : (1:"con9_1.jpg", 2:"con9_2.jpg", 3:"con9_3.jpg" );

#tab {
    width:100%; padding:150px 0px; box-sizing:border-box; overflow:hidden;

    .inner {
        width:1180px; margin:0px auto;

        h1 {
            font:bold 24px/1 'roboto'; color:#555; margin-bottom:50px;
        }

        .wrap {
            .left {
                width:30%; float:left;                

                ul {
                    width:100%; overflow:hidden;

                    li {
                        width:100%; margin-bottom:5px; transition:0.5s;
                        opacity:0.5; 

                        &.on {opacity:1;}

                        a {
                            display:flex; align-items:flex-start; justify-content:space-between;

                            span {
                                display:flex; align-items:center;
                                font:bold 16px/1 'orbitron'; color:#777;
                                width:calc(100% - 90px);

                                i {
                                    margin-right:20px; font-size:30px;
                                    color:#222;
                                }
                            }  

                            .pic {
                                width:80px; height:80px; background:#444; background-size:cover; background-repeat:no-repeat; background-position:center;
                            }
                        }

                        @each $key, $img in $imgs {
                            &:nth-of-type(#{$key}) a .pic {background-image:url('../img/#{$img}');}
                        }
                    }
                }
            }

            .right {
                width:calc(70% - 5px); float:right; display:flex; justify-content:space-between; position:relative; flex-wrap:wrap;

                .photo {
                    width:45%; height:400px; position:relative;

                    >ul>li {
                        width:100%; height:100%; position:absolute; top:0px; left:0px; display:flex; align-items:center;  justify-content:center; background:#555; transition:0.5s; opacity:0; transform:translate(60px, 60px); background-size:cover; background-position:center; background-repeat:no-repeat; color: transparent;

                        @each $key, $img in $imgs {
                            &:nth-of-type(#{$key}) {background-image:url('../img/#{$img}');}
                        }


                        &::after {
                            content:''; display:block; width:120px; height:80px; background:#fff; position:absolute; bottom:0px; right:0px;
                        }

                        &.on {opacity:1; transform:translate(0px, 0px);}
                    }
                }

                .txt {
                    width:calc(55% - 40px); position:relative;

                    >ul>li {
                        width:100%; position:absolute; top:0px; left:0px; opacity:0; transition:0.5s 0.2s; transform:translateY(20px); 

                        &.on {opacity:1; transform:translateY(0px);}

                        h2 {
                            font:normal 44px/1.1 'Barlow'; color:#111; margin-bottom:30px;
                        }
                        p {
                            font:16px/1.4 'Roboto'; color:#777;
                        }

                        
                    }
                }
            }
        }        
    }
}


/* tablet */
@media screen and (max-width:$tablet){
    #tab {
        padding:100px 0px; 
    
        .inner {
            width:90%;  

            .wrap {
                .left {
                    width:100%; margin-bottom:30px;
                    ul li a {
                        span {width:45%;}
                        .pic {width:50%; height:80px;}
                    }
                }
                .right {
                    width:100%;
                }
            }
        }
    }
}

/* mobile */
@media screen and (max-width:$mobile){
    #tab {
        padding:80px 0px; 
    
        .inner {
            .wrap {
                .left {
                    width:100%; margin-bottom:40px; 
                    ul li a {
                        span {width:70%;}
                        .pic {width:27%; height:50px;}
                    }
                }
    
                .right {
                    width:100%;

                    .photo {
                        width:100%; margin-bottom:20px;
                    }
                    .txt {
                        width:100%;

                        ul {min-height:300px;}
                    };
                }
            }            
        }
    }
}