#archive {
    width: 100%; padding: 150px 0; position: relative;

    &::before {content:''; display: block; width: 52%; height: 90%; background: #f2efeb; position: absolute; top: 0px; left: 48%; z-index: -2;}

    .inner {
        width: 1180px; margin: 0 auto; position: relative;
        h1 {
            font: 500 34px/1 'Barlow', sans-serif; color: #333; margin-bottom: 50px; position: relative; padding-bottom: 5px; transition: all 0.5s;
            &::before {content:''; display: block; width: 230px; height: 2.5px; background: #ccc; position: absolute; left: 0; bottom: 0;} 
        }

        .wrap {
            > div {float: left; height: 210px;}

            &::after{content:''; display: block; clear: both;}

            .txtBox {
                width: 50%; box-sizing: border-box; padding-right: 20px; padding-top: 60px;
                p {font: 14px/1 'Roboto', sans-serif; margin-bottom: 20px; color: #999;}
            }

            .list {
                width: 50%; padding: 20px; box-sizing: border-box; 
                dl{ 
                    float: left; width: 50%; position: relative; margin-bottom: 20px; padding-right: 20px; box-sizing: border-box; padding-bottom: 20px;
                    &::before {content:''; display: block; width: 96%; height: 2px; position: absolute; left: 0; bottom: 0; background: #bbb;}
                    &::after { content:''; display: block; clear: both;}
                    dt {font: 500 20px/1 'Barlow', sans-serif; margin-bottom: 15px; color: #2d4553;}
                    .title {float: left; font: 16px/1 'Roboto', sans-serif; color: #4d5b64;}
                    .date {float: right; font: italic 16px/1 'Roboto', sans-serif; color: #2d4553;}
                }
            }
        }

        > a {
            display: block; position: absolute; right: 30px; top: 40px; 
            &:hover > .highlight::before {left: 0;}
            > .highlight {
                color: #2d4553; font: 15px/1 'Barlow', sans-serif; position: relative; overflow: hidden; display: inline-table;
                &::before {content:''; display: block; width: 100%; height: 100%; background: #fff; position: absolute; top: 0; left: -100%; transition: all .35s;}
                > span {position: relative; z-index: 2;}
            }
        }
    }
}


/* tablet */
@media screen and (max-width:$tablet){
    #archive {
        padding: 100px 0;
        
        &::before {content:''; display: block; width: 100%; height: 42%;  left: 0;}

        .inner { 
            width: 90%; 
            h1 {
                font-size: 28px;
                &::before {width: 200px;} 
            }

            .wrap{
                > div:nth-of-type(1) { height: 160px;}
                .txtBox {width: 100%; padding-top: 0px;}
                .list {width: 100%; padding: 0;}
                .txtBox p {margin-bottom: 10px; }
            }
        }
    }
}


/* mobile */
@media screen and (max-width:$mobile){
    #archive {
        padding: 80px 0;
        
        &::before {content:''; display: block; width: 100%; height: 35%;}
        
        .inner{

            > a {right: 0px;}

            h1 {
                font-size: 24px;
                &::before {width: 170px;} 
            }

            .wrap {
                > div:nth-of-type(1) { height: 160px;}
                > div:nth-of-type(2) { height: 400px;}
                .txtBox {width: 100%; padding-top: 0px;}
                .list {
                    width: 100%;
                    dl{ 
                        width: 100%; padding-right: 0px; 
                        &::before {width: 100%;}
                    }
                    dl:nth-of-type(4)::before {display: none;}
                }


            }
        }
    
    }
}